.container {
  font-family: a-otf-ryumin-pr6n, serif;
  font-style: normal;
  font-weight: 300;

  margin: 0;
  padding: 0;
  whitespace: pre-wrap;
  wordwrap: unset;

  &:before {
    content: ' ';
    white-space: pre;
  }
}

.ruby {
  & rb {
  }
}
